@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
}

body {
    font-family: var(--font-roboto) sans-serif;
}

.font-condensed {
    font-family: var(--font-roboto-condensed), sans-serif;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #ffffff;
        min-height: 100svh;
        height: 100%;
        width: 100%;
    }

    body {
        width: 100%;
        min-height: 100svh;
        position: relative;
        @apply bg-main-dark;
    }

    .container-main {
        @apply max-w-1440 mx-auto mt-36;
    }

    .main-background {
        background-image: url("/assets/main-bg.svg");
    }

    .circuit-bg {
        position: relative;
    }
    .circuit-bg::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.04;
        background-image: url("/assets/electro.svg");
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

main {
    @apply pl-0 pb-24 lg:pl-24
}

.ps-sidebar-container {
    background-color: #29244D !important;
}

.ps-menu-button:hover {
    background: #1e1a32 !important;
}

.neo-morphism {
    box-shadow: -2.179px -2.179px 6.537px 0px #FFF, 2.179px 2.179px 6.537px 0px rgba(174, 174, 192, 0.40);
}

.chat-background {
    background-image: url("/assets/chat-bg.svg");
    background-repeat: repeat-x;
    background-size: 30% 100%;
    background-color: #F5F5F5;
}

.text-box-shadow {
    box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.25);;
}

.chat-box-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;;
}

.navigation-shadow {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-bg {
    background-image: url("/assets/dashborad-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.falling-letter {
    display: inline-block;
    transform: translateY(-100px);
    opacity: 0;
    animation: fall 0.2s ease-out forwards;
}

.falling-space {
    animation: none;
    transform: none;
    opacity: 1;
}

@keyframes fall {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dot-loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #522258 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}